<!DOCTYPE html>
<html lang="jp">
<%- include('../_include/_head') %>

    <body>
        <div class="wapper p-top">
            <%- include('../_include/_header') %>

                <main>
                    <section class="l-mv">
                        <div class="l-mv_inner">
                            <h1>MOVE HEART.</h1>
                            <p>We don’t just make videos.<br>
                                What we make is a videos, <br class="sp">a videos that changes the “Future”.</p>
                        </div>
                        <ul class="l-mv_sns">
                            <li><a href=""><img src="./assets/img/icon_facebook.svg" alt="facebook" width="30" height="30"></a></li>
                            <li><a href=""><img src="./assets/img/icon_Instagram.svg" alt="Instagram" width="30" height="30"></a></li>
                            <li><a href=""><img src="./assets/img/icon_twitter.svg" alt="Twitter" width="30" height="30"></a></li>
                        </ul>
                    </section>
                    <section class="l-about l-section">
                        <div class="l-container">
                            <div class="p-top_about_cont">
                                <div class="p-top_about_cont_text">
                                    <h2 class="c-title">ABOUT</h2>
                                    <div class="c-textArea">
                                        <p class="c-textArea_text--big">
                                            心が動けば、その瞬間から未来が変わる。<br>
                                            私たちはただの映像なんか作らない。<br>
                                            作るのは心を動かす映像、<br class="sp">「未来」を変える映像だ。
                                        </p>
                                        <a href="" class="c-button">MORE...</a>
                                    </div>
                                </div>

                                <div class="p-top_about_cont_img">
                                    <img src="./assets/img/about_img.jpg" alt="ABOUT image" width="630" height="711.53">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="l-service l-section">
                        <div class="l-container--big">
                            <h2 class="c-title--center">SERVICE</h2>
                            <ul class="p-top_service_cont">
                                <li class="c-textArea p-top_service_cmn">
                                    <img class="c-textArea_img" src="./assets/img/serveice_img_video.jpg" alt="映像制作　イメージ" width="380" height="290">
                                    <h3 class="c-textArea_title--underscore">映像制作</h3>
                                    <p class="c-textArea_text">CM、MV、WEB、SNS、イベントなど様々な分野の映像を手がけています。</p>
                                    <a href="" class="c-button--line">MORE</a>
                                </li>
                                <li class="c-textArea p-top_service_cmn">
                                    <img class="c-textArea_img" src="./assets/img/serveice_img_animation.jpg" alt="映像制作　イメージ" width="380" height="290">
                                    <h3 class="c-textArea_title--underscore">アニメーション制作</h3>
                                    <p class="c-textArea_text">CM、MV、WEB、SNS、イベントなど様々な分野の映像を手がけています。</p>
                                    <a href="" class="c-button--line">MORE</a>
                                </li>
                                <li class="c-textArea p-top_service_cmn">
                                    <img class="c-textArea_img" src="./assets/img/serveice_img_live.jpg" alt="映像制作　イメージ" width="380" height="290">
                                    <h3 class="c-textArea_title--underscore">セミナーなどの配信企画</h3>
                                    <p class="c-textArea_text">セミナーなど深みのある情報を配信することによって、参加者集めや広告を効率的に。</p>
                                    <a href="" class="c-button--line">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="p-top_works l-section">
                        <div class="l-container">
                            <h2 class="c-title">WORKS</h2>

                            <ul class="p-top_works_cont">
                                <li class="p-top_works_cont_main">
                                    <div class="p-top_works_cont_cmn">
                                        <img src="./assets/img/works_img_01.jpg" alt="Sheep literature" class="p-top_works_cont_cmn_img" width="680" height="382.84">
                                        <ul class="p-top_works_cont_cmn_tag">
                                            <li><a href="">CM</a></li>
                                            <li><a href="">MV</a></li>
                                        </ul>
                                        <div class="c-textArea">
                                            <p class="c-textArea_title--big">Sheep literature 「1999」</p>
                                            <p class="c-textArea_title">2020年12月にリリースされたSheep literatureの1stシングルの収録曲「1999」のMusicVideoを担当しました。</p>
                                            <a href="" class="c-button--line--white">MORE</a>
                                        </div>
                                    </div>
                                </li>

                                <li class="p-top_works_cont_side">
                                    <ul class="p-top_works_cont_side_inner">
                                        <li class="p-top_works_cont_cmn">
                                            <img src="./assets/img/works_img_02.jpg" alt="旅行会社プロモーション「TEST」イメージ" class="p-top_works_cont_cmn_img" width="180" height="101.34">
                                            <div class="c-textArea">
                                                <p class="c-textArea_title">旅行会社プロモーション「TEST」</p>
                                                <a href="" class="c-button--linemini--white">MORE</a>
                                            </div>
                                        </li>
                                        <li class="p-top_works_cont_cmn">
                                            <img src="./assets/img/works_img_03.jpg" alt="旅行会社プロモーション「TEST」イメージ" class="p-top_works_cont_cmn_img" width="180" height="101.34">
                                            <div class="c-textArea">
                                                <p class="c-textArea_title">旅行会社プロモーション「TEST」</p>
                                                <a href="" class="c-button--linemini--white">MORE</a>
                                            </div>
                                        </li>
                                        <li class="p-top_works_cont_cmn">
                                            <img src="./assets/img/works_img_04.jpg" alt="旅行会社プロモーション「TEST」イメージ" class="p-top_works_cont_cmn_img" width="180" height="101.34">
                                            <div class="c-textArea">
                                                <p class="c-textArea_title">旅行会社プロモーション「TEST」</p>
                                                <a href="" class="c-button--linemini--white">MORE</a>
                                            </div>
                                        </li>
                                        <li class="p-top_works_cont_cmn">
                                            <img src="./assets/img/works_img_05.jpg" alt="旅行会社プロモーション「TEST」イメージ" class="p-top_works_cont_cmn_img" width="180" height="101.34">
                                            <div class="c-textArea">
                                                <p class="c-textArea_title">旅行会社プロモーション「TEST」</p>
                                                <a href="" class="c-button--linemini--white">MORE</a>
                                            </div>
                                        </li>
                                    </ul>

                                    <a href="" class="c-button--center">MORE...</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section class="p-top_news l-section">
                        <div class="l-container--big">
                            <h2 class="c-title--center">NEWS</h2>

                            <ul class="p-top_news_list">
                                <li class="p-top_news_list_cmn">
                                    <a href="">
                                        <div class="p-top_news_list_cmn_img" style="background-image: url(./assets/img/news_img_01.png);"></div>

                                        <dl>
                                            <dd>2021.01.01</dd>
                                            <dt>
                                                <p>ホームページをリニューアルオープンしました。</p>
                                                <span class="c-button--linemini">MORE</span>
                                            </dt>
                                        </dl>
                                    </a>
                                </li>
                                <li class="p-top_news_list_cmn">
                                    <a href="">
                                        <div class="p-top_news_list_cmn_img" style="background-image: url(./assets/img/news_img_02.png);"></div>

                                        <dl>
                                            <dd>2021.01.01</dd>
                                            <dt>
                                                <p>ホームページをリニューアルオープンしました。</p>
                                                <span class="c-button--linemini">MORE</span>
                                            </dt>
                                        </dl>
                                    </a>
                                </li>
                            </ul>

                            <a href="" class="c-button--center">MORE...</a>
                        </div>
                    </section>
                </main>

            <%- include('../_include/_footer') %>
        </div>
    </body>

</html>