<!DOCTYPE html>
<html lang="jp">
<%- include('../_include/_head') %>

    <body>
        <div class="wapper p-top">
            <%- include('../_include/_header') %>

                <main>
                    <section class="l-mv">

                    </section>
                    <seciton class="l-about l-section">
                        <div class="l-container">
                            
                        </div>
                    </seciton>
                    <section class="l-service l-section">
                        <div class="l-container--big">

                        </div>
                    </section>
                    <section class="l-works l-section">
                        <div class="l-container">
                            
                        </div>
                    </section>
                    <section class="news">
                        <div class="l-container--big">
                            
                        </div>
                    </section>
                    <section class="l-contact l-section">
                        <div class="l-container">
                            
                        </div>
                    </section>
                </main>

            <%- include('../_include/_footer') %>
        </div>
    </body>

</html>